//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #000000; // Changing primary color
$body-color: #191C1F;
$body-color-2: #d8d6de;
$body-color-3: #bcb7ca;